*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(224, 222, 222, 0.247);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}

.containernamava{
    width: 400px;
    height:550px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.477);
    border-radius: 10px;
}

.namavatxt{
    font-size: 52px;
    color: #2196F3;
    text-align: center;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textlogin{
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 50px;
     margin-top: 20px;
}

a{
    text-decoration: none;
}

.signtxt{
   font-size: 18px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #2196F3;
   font-weight: bold;
   cursor: pointer;
}

.mobile{
    font-size: 20px;
    color: #2196F3;
}

.mobiletxt{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    margin-top: 20px;
    flex-direction: row-reverse;
    gap: 20px;
}


.hamrahtxt{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.textobject{
    margin-top: 40px;
    display: flex;
    justify-content: right;
    margin-right: 30px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9E9E9E;
}

.cardinput{
display: flex;
justify-content: center;
margin-top: 50px;
 
}

.inputt{
    text-align: right;
    width: 97%;
    padding: 10px;
    border: none;
    border:1px solid #8080805b;
    border-radius: 7px
    
}



.shomare{
    display: flex;
    justify-content: right;
    color: gray;
    margin-bottom: 7px;
}


.hamrah{
width: 80%;
}


.cardinput2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
     
    }

  .btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
  
  }

 .error{
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
 }

    .btnwrood{
        display: flex;
        justify-content: center;
        padding: 10px 155px;
        margin-left: 13px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(128, 128, 128, 0.677);
        color: #ffffff;
    }

    .btnwrood:hover{
        background-color: #2196F3;
        color: white;
        transition-duration: 0.3s;
    }


    .forgot{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .forgotpass{
        color: #2196F3;
        font-weight: bold;
        cursor: pointer;
    }
    .email{
        margin-top: 20px;
        color: #2196F3;
        font-weight: bold;
        cursor: pointer;
    }