*{
    margin: 0px;
    padding: 0px;
}




body{
    background-color: #000000e9;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 30px;
    box-shadow: 0px 2px 30px black;
    
}
.filmExtsasi{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxsiagn{
    color: white;
    margin-left: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 25px;
    flex-direction: row-reverse;
}

.search:hover {
   color: gray;
}

.bordersign{
    border: 1px solid gray;
}
.login{
    display: flex;
    gap: 10px;
    
}

a{
    text-decoration: none;
    color: white;
}
.signup{
    padding: 5px;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.signup:hover{
    background-color: #0288D1;
}

.border1{
    border: 1px solid gray;
    width: 96%;
    margin: 0px auto;
   
}

.card{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
    
}
.card1{
   width: 12%;
   height: 300px;
   margin-left: 20px;
   border-radius: 5px;
   display: flex;
   flex-wrap: wrap;
   cursor: pointer;
   margin-bottom: 50px;
  
}

.card1:hover{
    box-shadow: 0px 5px 10px black;
    transform: scale(0.3s);
}
.card1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.backmenu{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.393);
    z-index: 99999;
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    display: none;

}

.dropdown{
    width: 60%;
    height: 100vh;
    background-color:rgb(32, 31, 31);
    position: absolute;
    z-index: 99999;
    right: 0px;
    top: 0px;
    box-shadow: 0px 2px 15px 0px rgb(33, 32, 32) ;
    display: none;
    transition-duration: 1s;
}



.menuList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.itemMenu{
    display: flex;
   justify-content: end;
   gap: 10px;
   padding: 5px;
   cursor: pointer;
   border-radius: 10px 2px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
   transition-duration: 1s;

}

.itemMenu:hover{
    background-color: #0288D1;
    color: white;

}

.textfilm{
    font-size: 16px;
    font-weight: bold;
   margin: 0px auto;
   color: white;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgHeder{
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 10px;
   
    
}

.menu{
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: row-reverse;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-right: 30px;
   
}

.menuMobile{
    display: none !important; 
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
  }

  .menuMobile:active{
    color:#0288D1;
  }

  .ImgBanner{
    width: 96%;
    height: 700px;
    object-fit: cover;
    margin: 30px;
    border-radius: 20px;
  }

  .container{
    position: relative;
  }

  .icons{
    position: absolute;
    bottom: 350px;
    margin-left:25px ;
    cursor: pointer;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
  }


  .icons2{
    position: absolute;
    bottom: 352px;
    display: flex;
    left: 1467px;
    cursor: pointer;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
  }
 
  .icons:hover{
    background-color: #0288D1;
    color: white;
  }

  .icons2:hover{
    background-color: #0288D1;
    color: white;
  }

  .cardicons{
   position: relative;
  }

  .iconcard{

    position: absolute;
    bottom: 220px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
  }

  .iconcard2{
   
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 220px;
    margin-left: 1465px;
    font-size: 20px;
   cursor: pointer;
  }

  .iconcard:hover{
    background-color: #0289d1;
    color: white;
  }

  .iconcard2:hover{
    background-color: #0289d1;
    color: white;
  }

.MenuHeder{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row-reverse;
    margin-right: 20px;
    
}
.Home1{
    padding: 5px 10px;
}
.Home:hover{
    
    background-color: #30A9DE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.Movies:hover{
    background-color: #30A9DE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



.series:hover{
    background-color: #30A9DE;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}



.dastebandi:hover{
    background-color: #30A9DE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



.news:hover{
    background-color: #30A9DE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.menuFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
    height: 40px;
    background-color: #4a4949;
    gap: 25px;
    flex-direction: row-reverse;
    
}

.menuFo{
font-weight: bold;
cursor: pointer;
padding: 7px;
border-radius: 5px;
font-size: 14px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuFo:hover{
    background-color: #0288D1;
    scale: (0.03);
}

footer{
width: 100%;
height: 400px;
background-color: #242424;
display: flex;
align-items: center;
flex-direction: column;

}

.eplication{
    width: 70%;
    height: 100px;
    background-color: #263238;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.enmad{
    width: 200px;
    height: 200px;
    
}

.textfooter{
    color: white;
    width: 60%;
    line-height: 30px;
    color: #a8a7a7;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.disfooter{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 90%;
}

.namava{
    background-color: #0288D1;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    margin-right: 30px;
}

.namavabox{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: center;
}

.donaplication{
   color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bazar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* border: 1px solid gray; */
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #455A64;
    
    }

.bazarlogo{
    width: 30px;
    height:30px;
}

.textbazar{
    font-size: 14px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textbazar:hover{
    color: #0288D1;
}


.aplication{
    display: flex;
    gap: 15px;
    margin-left: 100px;
}


.borderfo{
    border-top: 1px solid gray;
    width: 70%;
    margin-top: 15px;
}

.logo2{
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.logo2:hover{
    color: #0288D1;
}

.logoinstagram{
    display: flex;
   gap: 30px;
}
.majazi{
   display: flex;
   justify-content: center;
   gap: 320px;
    margin-top: 20px;
}

.about{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shaxsi{
  text-align: center;

}

.textfoo{
    color: white;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width:1200px) {
    .MenuHeder{
        display: none !important;
    }

    .container{
        margin-right: 45px;
    }

    .menuMobile{
        display: block !important;
      }

      .ImgBanner{
        width: 96%;
        height: 400px;
        object-fit: cover;
        margin: 30px;
        border-radius: 20px;
      }


      .card{
        gap: 50px;
        display: flex;
        justify-content: center;
      }
      .card1{
        width: 30%;
      }
       
      
      .menuFo{
        font-size: 10px;
    
      }

      .menuFooter{
      gap: 5px;
      }

    
         .eplication{
            width: 0px;
             display: flex;
             justify-content: space-around;
             margin-left:-2px;
             gap: 50px;
         }
       
         .bazar{
            display: flex;

         }

         .textbazar{
            display: none;
         }
          
         .donaplication{
            font-size: 14px;
            
         }
         footer{
            height: 700px;
         }

         .disfooter{
            
           height: 500px;
           font-size: 12px;
            
         }

         .logoinstagram{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
         }

         .majazi{
            display: block;
            text-align: right;
            margin-bottom: 40px;
        }

        .textfoo{
            margin-right: 15px;
        }
       
        .icons{
            position: absolute;
            bottom: 230px;
            margin-left:25px ;
            cursor: pointer;
            background-color: white;
            padding: 10px 15px;
            border-radius: 50%;
          }


          .icons2{
            position: absolute;
            bottom: 232px;
            display: flex;
            left: 385px;
            cursor: pointer;
            background-color: white;
            padding: 10px 15px;
            border-radius: 50%;
          }

          .iconcard2{
            display: none;
          }

          .iconcard{
            display: none;
          }

          .show{
            display: block !important;
            
        }

          

}




